name: Periodic build all
concurrency: periodic-build-all

on:
  schedule:
    - cron: "15 4 * * *"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  generate_matrix:
    name: Generate job matrix
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.10'

      - name: Install required packages
        run: |
          pip install pyyaml requests

      - name: Generate matrix
        id: gen_matrix
        run: |
          set -x
          MATRIX=$(python3 scripts/generate_build_matrix.py)
          echo "::set-output name=matrix::$MATRIX"
          echo "::set-output name=matrix_len::$(echo $MATRIX | jq length)"

    outputs:
      build_matrix: ${{ steps.gen_matrix.outputs.matrix }}
      build_matrix_len: ${{ steps.gen_matrix.outputs.matrix_len }}

  build_matrix:
    needs: generate_matrix
    if: ${{ fromJSON(needs.generate_matrix.outputs.build_matrix_len) > 0 }}
    strategy:
      matrix:
        build_params: ${{ fromJSON(needs.generate_matrix.outputs.build_matrix) }}
      fail-fast: false
      max-parallel: 1
    permissions:
      contents: write
    uses: ./.github/workflows/release.yml
    with:
      package: ${{ matrix.build_params['package'] }}
      version: ${{ matrix.build_params['version'] }}
      python_version: ${{ matrix.build_params['python_version'] }}
      strategy: ${{ matrix.build_params['strategy'] }}
    secrets: inherit
